<!DOCTYPE html>
<html>
  <head>
    <title>Finished || THNX!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('./partials/backHome.ejs') %>
    <p>Enquete Minor Web</p>
    <h1>Bedankt voor je feedback <%= obj.firstName %></h1>

    <section>
      <h2>Wil je nog een vak beoordelen?</h2>
      <form action="/startEnquete" method="POST" id="restartForm">
        <input
          type="text"
          name="studentNumber"
          value="<%=obj.studentNumber%>"
          hidden
        />
        <input
          type="text"
          name="firstName"
          value="<%= obj.firstName%>"
          hidden
        />
        <input type="text" name="lastName" value="<%= obj.lastName%>" hidden />
        <input
          type="text"
          name="dateOfBirth"
          value="<%= obj.dateOfBirth%>"
          hidden
        />
        <button type="submit">Klik hier</button>
      </form>
    </section>
  </body>
</html>
