<!DOCTYPE html>
<html lang="nl">
  <%- include('../partials/head.ejs') %>
  <body>
    <section>
      <%- include('../partials/title.ejs') %>
    
      <h1> Hallo <%= obj.firstName%></h1>
      
      <form action="/sendEnquete" method="POST" autocomplete="on" id="enquete">
      
        <fieldset>
          <label for="course">Over welk vak wil je het hebben?
            <select name="course" id="course" required>
            <option value="" disabled selected>Kies een Vak</option>
            <option value="Web App From Scratch">Web App From Scratch</option>
            <option value="CSS To The Rescue">CSS To The Rescue</option>
            <option value="Browser Technologies">Browser Technologies</option>
            <option value="Progressive Web App">Progressive Web App</option>
            <option value="Real Time Web">Real Time Web</option>
            <option value="Web Design">Web Design</option>
          </select></label>
        </fieldset>
          
        <fieldset>
          <label for="when"> Wanneer begon je met dit vak?
            <select name="when" id="when" required>
              <option value="" disable selected >Kies een periode</option>
              <option value="Week 1-4">Week 1-4</option>
              <option value="Week 5-9">Week 5-9</option>
              <option value="Week 10-14">Week 10-14</option>
              <option value="Week 15-19">Week 15-19</option>
            </select>
        </label>
        </fieldset>
        
        <fieldset>
          <label for="profs"> Bij welke docent werd je ingedeeld?
            <select name="profs" id="profs" required>
            <option value="" disabled selected>Kies een docent</option>
            <option value="Joost">Joost</option>
            <option value="Declan">Declan</option>
            <option value="Koop">Koop</option>
            <option value="Vasilis">Vasilis</option>
            <option value="Peter">Peter-Paul</option>
            <option value="Vasilis">Sanne</option>
          </select>
        </label>

        </fieldset>
      
      <h3>Baseer je volgende antwoorden op een schaal 1-10.</h3>
      
      
      <label for="ratingCourse" >Hoe beoordeel je de lesstof?</label>
      <fieldset  class="radioInputFieldset">
      
    <label for="ratingCourse1">1: <input id="ratingCourse1" type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="1" required></input></label>
     <label for="ratingCourse2">2: <input id="ratingCourse2"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="2" required></input></label>
     <label for="ratingCourse3">3: <input id="ratingCourse3"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="3" required></input></label>
     <label for="ratingCourse4">4: <input id="ratingCourse4"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="4" required></input></label>
     <label for="ratingCourse5">5: <input id="ratingCourse5"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="5" required></input></label>
     <label for="ratingCourse6">6: <input id="ratingCourse6"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="6" required></input></label>
     <label for="ratingCourse7">7: <input id="ratingCourse7"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="7" required></input></label>
     <label for="ratingCourse8">8: <input id="ratingCourse8"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="8" required></input></label>
     <label for="ratingCourse9">9: <input id="ratingCourse9"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="9" required></input></label>
     <label for="ratingCourse10">10: <input id="ratingCourse10"type="radio" name="ratingCourse" class="ratingCourseCheckbox" value="10" required></input></label>
 

<!-- <p>1</p>
  <input type="range" name="ratingCourse" id="" min="1" max="10" />
  <p>10</p> -->
</fieldset>

<label for="ratingExplanation"
>Hoe beoordeel je de uitleg van de lesstof?
</label>
<fieldset  class="radioInputFieldset">
  <label for="ratingCourseExplanation1">1: <input id="ratingCourseExplanation1" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="1" required></input></label>
  <label for="ratingCourseExplanation2">2: <input id="ratingCourseExplanation2" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="2" required></input></label>
  <label for="ratingCourseExplanation3">3: <input id="ratingCourseExplanation3"  type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="3" required></input></label>
  <label for="ratingCourseExplanation4">4: <input id="ratingCourseExplanation4"  type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="4" required></input></label>
  <label for="ratingCourseExplanation5">5: <input id="ratingCourseExplanation5" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="5" required></input></label>
  <label for="ratingCourseExplanation6">6: <input id="ratingCourseExplanation6" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="6" required></input></label>
  <label for="ratingCourseExplanation7">7: <input id="ratingCourseExplanation7" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="7" required></input></label>
  <label for="ratingCourseExplanation8">8: <input id="ratingCourseExplanation8" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="8" required></input></label>
  <label for="ratingCourseExplanation9">9: <input id="ratingCourseExplanation9" type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="9" required></input></label>
  <label for="ratingCourseExplanation10">10: <input id="ratingCourseExplanation10"  type="radio" name="ratingExplanation" class="ratingCourseCheckbox" value="10" required></input></label>

</fieldset>

<label for="ratingUnderstanding"
>Hoe goed begrijp je de lesstof nu?</label>
<fieldset class="radioInputFieldset">
  <label for="ratingCourseUnderstanding1">1: <input id="ratingCourseUnderstanding1"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="1" required></input></label>
  <label for="ratingCourseUnderstanding2">2: <input id="ratingCourseUnderstanding2"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="2" required></input></label>
  <label for="ratingCourseUnderstanding3">3: <input id="ratingCourseUnderstanding3"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="3" required></input></label>
  <label for="ratingCourseUnderstanding4">4: <input id="ratingCourseUnderstanding4"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="4" required></input></label>
  <label for="ratingCourseUnderstanding5">5: <input id="ratingCourseUnderstanding5"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="5" required></input></label>
  <label for="ratingCourseUnderstanding6">6: <input id="ratingCourseUnderstanding6"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="6" required></input></label>
  <label for="ratingCourseUnderstanding7">7: <input id="ratingCourseUnderstanding7"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="7" required></input></label>
  <label for="ratingCourseUnderstanding8">8: <input id="ratingCourseUnderstanding8"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="8" required></input></label>
  <label for="ratingCourseUnderstanding9">9: <input id="ratingCourseUnderstanding9"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="9" required></input></label>
  <label for="ratingCourseUnderstanding10">10: <input id="ratingCourseUnderstanding10"type="radio" name="ratingUnderstanding" class="ratingCourseCheckbox" value="10" required></input></label>

</fieldset>

      <label for="comments"
      >Is er iets wat je graag wilt vertellen?</label>
      <textarea
      form="enquete"
      name="feedback"
      id="comments"
      cols="30"
      rows="5"
      placeholder="Schrijf hier je feedback voor dit vak."
      ></textarea>
      <!-- Previous form items to be send along hidden from view -->
      <input type="text" value="<%= obj.firstName%>" name="firstName" hidden />
      <input type="text" value="<%= obj.lastName%>" name="lastName" hidden />
      <input
      type="text"
      value="<%= obj.studentNumber%>"
      name="studentNumber"
        hidden
        />
        <input
        type="text"
        value="<%= obj.dateOfBirth%>"
        name="dateOfBirth"
        hidden
        />
        <input
        class="inputDateNumberElements"
        type="number"
        name="dd"
        placeholder="dd"
        value="<%= obj.dd%>"
        hidden
      />
      <input
        class="inputDateNumberElements"
        type="number"
        name="mm"
        placeholder="mm"
        value="<%= obj.mm%>"
        hidden
      />
      <input
        class="inputDateNumberElements"
        type="number"
        name="yyyy"
        placeholder="yyyy"
        value="<%= obj.yyyy%>"
        hidden
      />
        
        <button id="submitEnqueteButton"type="submit">Versturen</button>
      </form>
    </section>
      
      <div id="progressBarContainer">
        <var id="progressBar">
        </var>
      </div>
      
<section class="offlineBannerSection"> 

</section>

      <script src="./javascripts/main.js" type="module"></script>
    </body>
    </html>
    