<!DOCTYPE html>
<html>
  <head>
    <title>Finished || THNX!</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('../partials/backHome.ejs') %>
    <header>
      <p>Enquete Minor Web</p>
      <h1>Bedankt voor je feedback <%= obj.firstName %></h1>
    </header>

    <section>
      <h2>Wil je nog een vak beoordelen?</h2>

      <form action="/startEnquete" method="POST" id="restartForm">
        <input
          type="text"
          name="studentNumber"
          value="<%=obj.studentNumber%>"
          hidden
        />
        <input
          type="text"
          name="firstName"
          value="<%= obj.firstName%>"
          hidden
        />
        <input type="text" name="lastName" value="<%= obj.lastName%>" hidden />
        <input
          type="text"
          name="dateOfBirth"
          value="<%= obj.dateOfBirth%>"
          hidden
        />
        <button type="submit">Klik hier</button>
      </form>
    </section>

    <% if(previousEnquetes) { %>
    <section id="previousEnquetes">
      <header>
        <h2>Deze Enquetes heb je eerder naar ons gestuurd</h2>
      </header>
      <table>
        <!-- <colgroup>
        <col />
      </colgroup> -->
        <thead>
          <tr>
            <th>#</th>
            <th>Vak</th>
            <th>Enquete</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tbody>


          <% previousEnquetes.reverse().forEach((enquete, i)=>{ %>
          
      
          <tr>
            <td>
              <span><%= i +1%></span>
            </td>
            <td>
              <span><h5><%= enquete.courseName %></h5></span>
            </td>

            <td>
              <details>
                <ul>
                  <li>
                    <p>Wanneer volgde je dit vak?</p>
                    <span><%= enquete.answers.when%></span>
                  </li>
                  <li>
                    <p>Bij welke docent werd je ingedeeld?</p>
                    <span><%= enquete.answers.profs%></span>
                  </li>
                  <li>
                    <p>Hoe beoordeel je de lesstof?</p>
                    <span><%= enquete.answers.ratingCourse%></span>
                  </li>
                  <li>
                    <p>Hoe beoordeel je de uitleg van de lesstof?</p>
                    <span><%= enquete.answers.ratingExplanation%></span>
                  </li>
                  <li>
                    <p>Hoe goed begrijp je de lesstof nu?</p>
                    <span><%= enquete.answers.ratingUnderstanding%></span>
                  </li>
                  <li>
                    <p>Is er iets wat je graag wilt vertellen?</p>
                    <span><%= enquete.answers.feedback%></span>
                  </li>
                </ul>

                <td><%= enquete.date%></td>
              </details>
            </td>
          </tr>
          
                <% }) %>
              </section>
              <% } %>
        </tbody>
      </table>

    <script src="./javascripts/main.js" type="module"></script>
  </body>
</html>
